*{
    box-sizing: border-box;
}

html {
    
}


body{
    
}


#home {
    position: relative;
    text-align: center;
    color: white;
}

/* main page container */
.bodyContainer {
    display: flex;
    border: 5px solid black;
    width: 100%;
    flex-direction: column;
    padding: 25px 250px;
    background-color: black; 
}

/* navigation box */

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: black;

}


.container0 {
    display: flex;
    width: 100%;
    height: 35%;
    margin: 2px;
    background-color: gray;
}


.items0 {

    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    border: 1px solid white;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}




/* home section */


.container {
    position: relative;
    text-align: center;
    color: white; 
}


.image1 {
    width: 100%;
    height: 600px;
    background-image: url("img/homePage.jpg");
    background-size: cover;
    align-content : center; 
    border: 1px solid black;
    border-radius: 15px;
}


.heading1 {
    padding-top: 15%;
    font-size: 35px;
    color: white;
    font-family: 'Raleway', sans-serif;
}


/* skills section */

#skills h3{
text-align: center;
font-size: 35px;
color: white;
font-family: 'Raleway', sans-serif;
}

.container1 {
    display: flex;
    width: 100%;
    border: 4px solid black;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    font-family: 'Raleway', sans-serif;
}


.item1 {
    display: flex;
    width: 100%;
    border: 2px solid black;
    height: 30px;
    text-align: center;   
}


.sub_item1 {
    border: orange;
    background-color: #0078a5;
    padding: 5px;
    text-align: center;
    align-content: center;
    color: white;
    flex-grow: 0;
}

/* portfolio section */


.container2 {
    width: 100%;
    display: flex;
    border: 4px solid black;
    height: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    background-color: #0078a5;
    font-family: 'Raleway', sans-serif;
}

.items2 {
    display: flex;
    justify-content: space-around;
    height: 31%;
    width: 48%;
    border: 2px solid #0078a5;
    background-color: #0078a5;
}

.sub_item2 {
    width: 40%;
    border: 2px solid #0078a5;
    justify-content: space-around;
    flex-grow: 1;
    margin: 1%;
    font-size: 17px;
    background-color:#aaaaaa;
    color: black;
    padding: 10px;
}


#portfolio h3{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* about me section */

.container3 {
    display: flex;
    width: 100%;
    border: 4px solid black;
    padding: 5px 1px;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
}

.item3 {
    display: flex;
    width: 50%;
    margin: 50px;
    color: white;
    border: 4px solid black;
    align-items: center; 
    justify-content: center;
}


#aboutMe h3 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Raleway', sans-serif;
}


#aboutMe p  {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}

/* button */
.button {

    background-color: white;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px;
    cursor: pointer;
    height: 15%;
    color: black;
}


.button:hover {

    background-color: gray;
    color: white;
}

/* contact section */

.contactContainer {
    display: flex;
    border: 5px solid black;
    width: 100%;
    flex-direction: column;
}


#contact h3 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Raleway', sans-serif;
}


.container4 {
    display: flex;
    flex-direction: row;
    border: 4px solid #aaaaaa;
    border-radius: 15px;
    width: 100%;
    justify-content: space-around;
    background-color: #aaaaaa;
    padding: 5px;
}


.item_4 {
    display: flex;
    justify-content: space-around;
    border: 2px solid #aaaaaa;
    width: 100px;
    height: 100px;
    margin: 50px;
    font-size: 80px;
    align-items: center;
    align-self: center;
}


.container5 {
    display: flex;
    width: 100%;
    height: 500px;
    border: 4px solid #0078A5;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: #0078A5;
    font-family: 'Raleway', sans-serif;
}


.item5 {
    display: flex;
    height: 20%;
    align-self: center;
    margin: 10px 0px;
    border: 3px solid #0078A5;
}


.sub_item5 {
    display: flex;
    border: 2px solid #0078A5;
    background-color: #0078A5;
    flex-grow: 2;
    justify-content: space-evenly;
    color: white;
}






